.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;

    width:fit-content;
    background-color: #d3d5ff;
    margin:10px;
    color: white;
    border-radius: 2px;
    padding-bottom: 10px;
}

.card-container h3 {
    border-radius: 2px;
    width: 300px;
    padding:10px;
    margin: 0;
    background-image:linear-gradient(to right,#4e54c8,#C06C84);
}

.card-container p {
    color: #4e54c8;
    margin: 10px 0 10px 0;

}

.card-container hr{
    color: white;
    width: 80%;
}

.card-container button {
    border:none;
    margin: 10px 5px 0px 5px;
    font-size: large;
    color:rgb(255, 255, 255);
    padding:10px;
    border-radius:3px;
    background-color: #ebd3e6;
}

.card-container button:hover {
    background-image:linear-gradient(to right,#4e54c8,#C06C84);
}